<div class="container">
  <h1><%= params[:category] %></h1>

      <h2>Articles</h2>

      <ul>
        <% @articles.each do |article|%>
          <a href="/<%= params[:category] %>/<%=article.name%>
            "><li><%= article.name %></li></a>
        <% end %>
      </ul>

</div>
