<div class="container">
  <h1>Welcome to Craigslist Jr!</h1>

      <h2>Categories</h2>

      <ul>
        <% Category.all.each do |category| %>
          <a href="/<%=category.name%>"><li><%= category.name %></li></a>
          <% end %>
      </ul>

</div>
